[submodule "cava"]
	path = cava
	url = https://github.com/PoutineSyropErable/config_cava.git
[submodule "fish"]
	path = fish
	url = https://github.com/PoutineSyropErable/config_fish.git
[submodule "kanata"]
	path = kanata
	url = https://github.com/PoutineSyropErable/config_kanata.git
[submodule "lf"]
	path = lf
	url = https://github.com/PoutineSyropErable/config_lf.git
[submodule "nvim"]
	path = nvim
	url = https://github.com/PoutineSyropErable/config_nvim.git
[submodule "rofi"]
	path = rofi
	url = https://github.com/PoutineSyropErable/config_rofi.git
[submodule "tmux"]
	path = tmux
	url = https://github.com/PoutineSyropErable/config_tmux.git
[submodule "kitty"]
	path = kitty
	url = https://github.com/PoutineSyropErable/config_kitty.git
