[submodule "eww"]
	path = eww
	url = https://github.com/PoutineSyropErable/config_eww
[submodule "nvim"]
	path = nvim
	url = https://github.com/PoutineSyropErable/config_nvim
[submodule "fish"]
	path = fish
	url = https://github.com/PoutineSyropErable/config_fish
[submodule "tmux"]
	path = tmux
	url = https://github.com/PoutineSyropErable/config_tmux
[submodule "kanata"]
	path = kanata
	url = https://github.com/PoutineSyropErable/config_kanata
[submodule "ironbar"]
	path = ironbar
	url = https://github.com/PoutineSyropErable/config_ironbar
[submodule "xava"]
	path = xava
	url = https://github.com/PoutineSyropErable/config_xava
[submodule "cava"]
	path = cava
	url = https://github.com/PoutineSyropErable/config_cava
[submodule "kitty"]
	path = kitty
	url = https://github.com/PoutineSyropErable/config_kitty
