# Ignore everything
*

# Do not ignore the .gitignore file
!readme.md
!.gitignore
# Include specific directories
!/aconfmgr/
!/cava/
!/conky/
!/dunst/
!/fish/
!/i3/
!/lf/
!/kitty/
!/mpc/
!/mpd/
!/mpDris2/
!/mpv/
!/nvim/
!/ncmpcpp/
!/picom/
!/polybar/
!/polybar.old/
!/rofi/
!/tmux/


!/aconfmgr/10-ignores.sh
!/aconfmgr/files
!/aconfmgr/files/*
!/aconfmgr/files/**
!/aconfmgr/files/*/*
!/aconfmgr/files/*/*/*
!/aconfmgr/files/*/*/*/*
!/aconfmgr/files/*/*/*/*/*
!/aconfmgr/files/*/*/*/*/*/*
!/aconfmgr/files/*/*/*/*/*/*/*
!/aconfmgr/files/*/*/*/*/*/*/*/*
!/aconfmgr/files/*/*/*/*/*/*/*/*/*
!/aconfmgr/files/*/*/*/*/*/*/*/*/*/*
!/aconfmgr/files/*/*/*/*/*/*/*/*/*/*/*

!/cava/**/*
!/cava/*/
!/cava/*/*/
!/cava/*/*/*/
!/cava/*/*/*/*/


!/conky/**/*
!/conky/*/
!/conky/*/*/
!/conky/*/*/*/
!/conky/*/*/*/*/



!/dunst/**/*
!/dunst/*/
!/dunst/*/*/
!/dunst/*/*/*/
!/dunst/*/*/*/*/


!/fish/**/*
!/fish/*/
!/fish/*/*/
!/fish/*/*/*/
!/fish/*/*/*/*/

!/i3/**/*
!/i3/*/
!/i3/*/*/
!/i3/*/*/*/
!/i3/*/*/*/*/


!/lf/**/*
!/lf/*/
!/lf/*/*/
!/lf/*/*/*/
!/lf/*/*/*/*/

!/kitty/**/*
!/kitty/*/
!/kitty/*/*/
!/kitty/*/*/*/
!/kitty/*/*/*/*/

!/mpc/**/*
!/mpc/*/
!/mpc/*/*/
!/mpc/*/*/*/
!/mpc/*/*/*/*/

!/mpd/**/*
!/mpd/*/
!/mpd/*/*/
!/mpd/*/*/*/
!/mpd/*/*/*/*/

!/mpDris2/**/*
!/mpDris2/*/
!/mpDris2/*/*/
!/mpDris2/*/*/*/
!/mpDris2/*/*/*/*/

!/mpv/**/*
!/mpv/*/
!/mpv/*/*/
!/mpv/*/*/*/
!/mpv/*/*/*/*/


!/ncmpcpp/**/*
!/ncmpcpp/*/
!/ncmpcpp/*/*/
!/ncmpcpp/*/*/*/
!/ncmpcpp/*/*/*/*/

!/nvim/**/*
!/nvim/*/
!/nvim/*/*/
!/nvim/*/*/*/
!/nvim/*/*/*/*/

!/picom/**/*
!/picom/*/
!/picom/*/*/
!/picom/*/*/*/
!/picom/*/*/*/*/

!/polybar.old/**/*
!/polybar.old/*/
!/polybar.old/*/*/
!/polybar.old/*/*/*/
!/polybar.old/*/*/*/*/

!/rofi/**/*
!/rofi/*/
!/rofi/*/*/
!/rofi/*/*/*/
!/rofi/*/*/*/*/
!/rofi/*/*/*/*/*


!/tmux/**/*
!/tmux/*/
!/tmux/*/*/
!/tmux/*/*/*/
!/tmux/*/*/*/*/


/polybar.old/weather-polybar-plugin/.owm-key


/mpd/state
thefuck/__pycache__/settings.cpython-312.pyc
