# Ignore everything by default
*

# Do not ignore these essential files
!.gitignore
!.gitmodules
!readme.md
!mimeapps.list

# Track only specific folders (explicit allowlist)
!/awesome/
!/aconfmgr/
!/bash/
!/cava/
!/conky/
!/ctpv/
!/dunst/
!/eww/
!/fish/
!/gdb/
!/hypr/
!/i3/
!/ironbar/
!/kanata/
!/kitty/
!/lf/
!/mpc/
!/mpd/
!/mpDris2/
!/mpv/
!/ncmpcpp/
!/nvim/
!/picom/
!/polybar/
!/polybar.old/
!/rmpc/
!/rofi/
!/sway/
!/tmux/
!/uwsm
!/vim/
!/waybar/
!/xava/
!/zsh/

# Recursively include their contents
!/awesome/**
!/aconfmgr/**
!/bash/**
!/cava/**
!/conky/**
!/ctpv/**
!/dunst/**
!/eww/**
!/fish/**
!/gdb/**
!/hypr/**
!/i3/**
!/ironbar/**
!/kanata/**
!/kitty/**
!/lf/**
!/mpc/**
!/mpd/**
!/mpDris2/**
!/mpv/**
!/ncmpcpp/**
!/nvim/**
!/picom/**
!/polybar/**
!/polybar.old/**
!/rmpc/**
!/rofi/**
!/sway/**
!/tmux/**
!/uwsm/**
!/vim/**
!/waybar/**
!/xava/**
!/zsh/**


!/test

# Ignore specific files even in included directories
/mpd/state
/nvim/term2alpha/
/gh
lf/lf source code
"lf/lf source code"
ironbar/ironbar
thefuck/__pycache__/settings.cpython-312.pyc
/polybar.old/weather-polybar-plugin/.owm-key



